<div class="container mt-3">
    <p><strong>NORMAS DE CONFIDENCIALIDAD / PRIVACIDAD</strong></p>
    <p>
        Recoshop.com.ar &nbsp;se compromete a adoptar una pol&iacute;tica de
        confidencialidad, con el objeto de proteger la privacidad de la
        informaci&oacute;n personal obtenida a trav&eacute;s de sus servicios
        online.
    </p>
    <p>
        Las Normas de Confidencialidad que a continuaci&oacute;n se detallan
        pueden tener cambios futuros, con lo cual se aconseja revisarlas
        peri&oacute;dicamente.
    </p>
    <p>
        A continuaci&oacute;n se desarrollar&aacute;n los siguientes
        t&eacute;rminos:
    </p>
    <ul>
        <li>Tipo de informaci&oacute;n que se obtiene.</li>
        <li>Finalidad que se le dar&aacute; a la informaci&oacute;n.</li>
        <li>Qu&eacute; son los Cookies.</li>
        <li>Confidencialidad de la Informaci&oacute;n.</li>
        <li>
            Modificaci&oacute;n / actualizaci&oacute;n de la informaci&oacute;n.
        </li>
        <li>Protecci&oacute;n de la informaci&oacute;n personal.</li>
        <li>Confidencialidad de los Menores.</li>
        <li>Contenidos.</li>
        <li>Material de Associated Press (AP).</li>
        <li>Informaci&oacute;n burs&aacute;til.</li>
        <li>Aceptaci&oacute;n de los t&eacute;rminos.</li>
    </ul>
    <p><strong>Tipo de informaci&oacute;n que se obtiene.</strong></p>
    <p>
        Est&aacute; bajo las normas de confidencialidad / privacidad toda
        aquella informaci&oacute;n personal que el usuario ingresa
        voluntariamente a nuestra red durante la inscripci&oacute;n al servicio
        y en otras ocasiones como en los concursos, las compras, etc.
        &eacute;sta incluye, pero no es limitativo, nombre, apellido,
        direcci&oacute;n, n&uacute;mero de tel&eacute;fono, correo
        electr&oacute;nico, sexo, edad, nivel educacional. El usuario puede
        modificar o actualizar esta informaci&oacute;n en cualquier momento.
    </p>
    <p>
        <strong
            >Finalidad que se le dar&aacute; a la informaci&oacute;n.</strong
        >
    </p>
    <p>
        Los datos personales contenidos en la informaci&oacute;n confidencial,
        son utilizados para proveerle al usuario un servicio personalizado y
        acorde a sus necesidades, en su caso, ofreciendo publicidad selectiva o
        contenidos que puedan llegar a serle de inter&eacute;s, si es que el
        usuario indic&oacute; recibirlos.
    </p>
    <p><strong>Qu&eacute; son los Cookies.</strong></p>
    <p>
        Los Cookies son peque&ntilde;as piezas de informaci&oacute;n
        transferidas por el sitio Web desde el disco duro de la computadora del
        usuario, que graban sus datos personales cuando se conecta al servicio
        de Recoshop.com.ar y se modifican al abandonar el servicio. Los cookies
        son an&oacute;nimos.
    </p>
    <p>
        El acceso a la informaci&oacute;n por medio de los cookies, permite
        ofrecer al usuario un servicio personalizado, ya que almacenan no
        s&oacute;lo sus datos personales sino tambi&eacute;n la frecuencia de
        utilizaci&oacute;n del servicio y las secciones de la red visitadas,
        reflejando as&iacute; sus h&aacute;bitos y preferencias.
    </p>
    <p>
        Aceptar los cookies es requisito para poder recibir y/o utilizar nuestro
        servicio.
    </p>
    <p>
        Las redes publicitarias que insertan avisos en nuestras p&aacute;ginas
        pueden tambi&eacute;n utilizar sus propios cookies.
    </p>
    <p><strong>Confidencialidad de la Informaci&oacute;n.</strong></p>
    <p>
        Recoshop.com.ar &nbsp;no compartir&aacute; la informaci&oacute;n
        confidencial con ninguno de los socios o copropietarios excepto que
        tenga expresa autorizaci&oacute;n de quienes se suscribieron, o cuando
        ha sido requerido por orden judicial o legal, o para proteger los
        derechos de propiedad u otros derechos de Recoshop.com.ar.
    </p>
    <p>
        Recoshop.com.ar &nbsp;no vende ni alquila la informaci&oacute;n de los
        usuarios. Si los datos personales del usuario debieran ser compartidos
        con socios comerciales o patrocinantes, el usuario ser&aacute;
        notificado antes que &eacute;stos sean recogidos o transferidos. Si no
        desea que sus datos sean compartidos, puede decidir no utilizar un
        servicio determinado o no participar en algunas promociones o concursos.
    </p>
    <p>
        <strong
            >Modificaci&oacute;n / actualizaci&oacute;n de la informaci&oacute;n
            personal.</strong
        >
    </p>
    <p>
        Los datos personales proporcionados por el usuario formar&aacute;n parte
        de un archivo que contendr&aacute; su perfil. Accediendo al mismo, el
        usuario puede modificarlos / actualizarlos en cualquier momento.
    </p>
    <p>
        Recoshop.com.ar &nbsp;aconseja al usuario que actualice sus datos cada
        vez que &eacute;stos sufran alguna modificaci&oacute;n, ya que esto
        permitir&aacute; brindarle un servicio m&aacute;s personalizado.
    </p>
    <p><strong>Protecci&oacute;n de la Informaci&oacute;n Personal.</strong></p>
    <p>
        La informaci&oacute;n proporcionada por el usuario, est&aacute;
        asegurada por una clave de acceso a la cual s&oacute;lo el usuario
        podr&aacute; acceder y de la cual s&oacute;lo &eacute;l tiene
        conocimiento. Recoshop.com.ar no intentar&aacute; por ning&uacute;n
        medio obtener esa clave personal.
    </p>
    <p>
        Debido a que ninguna transmisi&oacute;n por Internet puede garantizar su
        &iacute;ntegra seguridad, Recoshop.com.ar &nbsp;no puede garantizar que
        la informaci&oacute;n transmitida utilizando su servicio sea
        completamente segura, con lo cual el usuario asume este riesgo que
        declara conocer y aceptar.
    </p>
    <p>
        El usuario es el &uacute;nico responsable de mantener en secreto su
        clave y la informaci&oacute;n de su cuenta. Para disminuir los riesgos
        Recoshop.com.ar recomienda al usuario salir de su cuenta y cerrar la
        ventana de su navegador cuando finalice su actividad, m&aacute;s
        a&uacute;n si comparte su computadora con alguien o utiliza una
        computadora en un lugar p&uacute;blico como una biblioteca o un
        caf&eacute; Internet.
    </p>
    <p><strong>Confidencialidad de los Menores.</strong></p>
    <p>
        La salvaguarda de la informaci&oacute;n personal infantil es
        extremadamente importante. Recoshop.com.ar &nbsp;recauda el
        m&iacute;nimo indispensable de esa informaci&oacute;n necesaria para
        brindar su servicios.
    </p>
    <p>
        Recoshop.com.ar no solicita informaci&oacute;n de identificaci&oacute;n
        personal a los menores. Los menores siempre deben solicitar permiso a
        sus padres antes de enviar informaci&oacute;n personal a otro usuario
        online.
    </p>
    <p><strong>Contenidos</strong></p>
    <p>
        Recoshop.com.ar &nbsp;se reserva el derecho a actualizar, modificar o
        eliminar la informaci&oacute;n contenida en su p&aacute;gina web,
        as&iacute; como la configuraci&oacute;n o presentaci&oacute;n del mismo,
        en cualquier momento sin asumir alguna responsabilidad por ello.
    </p>
    <p>
        Recoshop.com.ar&nbsp;<strong>&nbsp;</strong>es titular de todos los
        derechos sobre el software de la publicaci&oacute;n digital as&iacute;
        como de los derechos de propiedad industrial e intelectual referidos a
        los contenidos que se incluyan, a excepci&oacute;n de los derechos sobre
        productos y servicios de car&aacute;cter p&uacute;blico que no son
        propiedad de esta empresa.
    </p>
    <p><strong>Aceptaci&oacute;n de los t&eacute;rminos.</strong></p>
    <p>
        Esta declaraci&oacute;n de Confidencialidad / privacidad est&aacute;
        sujeta a los t&eacute;rminos y condiciones de Recoshop.com.ar, con lo
        cual constituye un acuerdo legal entre el usuario y Recoshop.com.ar.
    </p>
    <p>
        Si el usuario utiliza los servicios de Recoshop.com.ar, significa que ha
        le&iacute;do, entendido y acordado los t&eacute;rminos antes expuestos.
        Si no est&aacute; de acuerdo con ellos, el usuario no deber&aacute;
        proporcionar ninguna informaci&oacute;n personal, ni utilizar el
        servicio porque no est&aacute; autorizado para hacerlo.
    </p>
    <p>
        Recoshop.com.ar&nbsp;podr&aacute; dar de baja o modificar los servicios
        gratuitos que brinda a sus usuarios bajo la denominaci&oacute;n
        "Recoshop" , en cualquier momento, lo que le ser&aacute; preavisado con
        una antelaci&oacute;n de siete (7) d&iacute;as al momento de la
        realizaci&oacute;n de la mencionada baja o modificaci&oacute;n.
    </p>
    <p>SitioRecoshop.com.ar es parte de&nbsp;Recoshop.com.ar.</p>
    <p>
        <strong
            >POL&Iacute;TICA DE PROTECCI&Oacute;N DE DATOS PERSONALES</strong
        >
    </p>
    <p>
        Al registrarse en alguno de los sitios de dominio de Recoshop, EL
        USUARIO deber&aacute; brindar informaci&oacute;n personal, prestando su
        consentimiento para que la misma sea almacenada directamente en una BASE
        DE DATOS, encontr&aacute;ndose protegida electr&oacute;nicamente,
        utilizando los mecanismos de seguridad inform&aacute;tica de
        protecci&oacute;n de la informaci&oacute;n m&aacute;s completos y
        eficaces para mantenerla en total confidencialidad, conforme a la Ley
        N&ordm; 25.326 de H&aacute;beas Data, no obstante lo cual, EL USUARIO
        puede solicitar la eliminaci&oacute;n o modificaci&oacute;n de los
        mismos en el &oacute;rgano de control de la citada norma,
        Direcci&oacute;n Nacional de Protecci&oacute;n de Datos Personales,
        dependiente del Ministerio de Justicia, Seguridad y Derechos Humanos
        Sarmiento 1118, 5to. Piso (CP1041aax); tel.
        43838510/12/13/15;www.jus.gov.ar/datospersonales/&nbsp;&nbsp;infodnpdpa@jus.gov.ar..
    </p>
    <p>
        Recoshop se reserva el derecho a modificar la presente pol&iacute;tica
        para adaptarla a novedades legislativas o jurisprudenciales as&iacute;
        como a pr&aacute;cticas de la industria. En dichos supuestos,
        anunciar&aacute; en esta p&aacute;gina los cambios introducidos con
        razonable antelaci&oacute;n a su puesta en pr&aacute;ctica.
    </p>
    <p>
        Mediante el presente, toda persona que se registra en un sitio de
        Internet de dominio de Recoshop y vuelque informaci&oacute;n respecto de
        su nombre, domicilio, sexo, fecha de nacimiento, documento nacional de
        identidad, identificaci&oacute;n tributaria, tel&eacute;fono,
        direcci&oacute;n de correo electr&oacute;nico y/o, presta su
        consentimiento para que dicha informaci&oacute;n sea almacenada
        directamente en una BASE DE DATOS de propiedad de Recoshop
    </p>
    <p>
        El Usuario garantiza que los Datos Personales facilitados a
        Recoshop&nbsp; son veraces y se hace responsable de comunicar a
        &eacute;sta cualquier modificaci&oacute;n en los mismos.
    </p>
    <p>
        Se deja expresamente aclarado que ciertos Servicios prestados por
        &eacute;ste sitio u otros sitios vinculados pueden contener Condiciones
        Particulares con previsiones espec&iacute;ficas en materia de
        protecci&oacute;n de Datos Personales.
    </p>
    <p>
        Los Datos Personales ser&aacute;n incorporados a una base de datos que
        es de titularidad de Recoshop&nbsp; (la "Base").
    </p>
    <p>
        EL USUARIO presta su consentimiento para que &nbsp;Recoshop&nbsp;
        realice operaciones y procedimientos sistem&aacute;ticos,
        electr&oacute;nicos o no, que permitan la recolecci&oacute;n,
        conservaci&oacute;n, ordenaci&oacute;n, almacenamiento,
        modificaci&oacute;n, evaluaci&oacute;n, bloqueo, cesi&oacute;n y en
        general, el procesamiento de sus DATOS PERSONALES (en adelante
        TRATAMIENTO DE DATOS PERSONALES).
    </p>
    <p>
        Recoshop&nbsp; podr&aacute; contratar a terceros para el tratamiento de
        Datos Personales.
    </p>
    <p>
        La finalidad de la recogida y tratamiento de los Datos Personales es la
        que se detalla a continuaci&oacute;n:
    </p>
    <p>
        Para habilitar su participaci&oacute;n en promociones, premios o
        concursos en l&iacute;nea.
    </p>
    <p>
        Para el desarrollo de nuevos productos y servicios que satisfagan las
        necesidades del Usuario.
    </p>
    <p>
        Para contactarse, v&iacute;a mail o telef&oacute;nicamente, con el
        Usuario a fin de relevar opiniones sobre el servicio y para informar
        sobre productos y servicios de cualquiera de los sitios editoriales o
        productos de &nbsp;Recoshop
    </p>
    <p>
        Recoshop&nbsp; ha adoptado los niveles de seguridad de protecci&oacute;n
        de los Datos Personales legalmente requeridos, y ha instalado todos los
        medios y medidas t&eacute;cnicas a su alcance para evitar la
        p&eacute;rdida, mal uso, alteraci&oacute;n, acceso no autorizado y robo
        de los Datos Personales facilitados a AGEA. Ello no obstante, el Usuario
        debe ser consciente de que las medidas de seguridad en Internet no son
        inexpugnables. Por tal motivo, debe tener presente que siempre que
        divulguen voluntariamente informaci&oacute;n personal online,
        &eacute;sta puede ser recogida y utilizada por otros. Por lo tanto, si
        bien ponemos nuestro mayor esfuerzo por proteger su informaci&oacute;n
        personal, AGEA no ser&aacute; responsable por la difusi&oacute;n de los
        datos personales de nuestros visitantes efectuada por fuentes ajenas a
        &eacute;sta ni ser&aacute; responsable por los da&ntilde;os y perjuicios
        que la misma genere.
    </p>
    <p>
        El Usuario tiene reconocidos los derechos de acceso, cancelaci&oacute;n,
        rectificaci&oacute;n y oposici&oacute;n, as&iacute; como tienen
        reconocido el derecho a ser informados de los permisos de acceso
        realizados contact&aacute;ndose con Recoshop&nbsp; a trav&eacute;s del
        correo electr&oacute;nico&nbsp;info@your-domain.com.ar
    </p>
    <p>
        El Usuario podr&aacute; ejercer su derecho de retiro o bloqueo total o
        parcial de su nombre en nuestra base de datos, mediante solicitud formal
        enviada al mail&nbsp;info@Recoshop.com.ar. Para su mejor
        comprensi&oacute;n, se transcriben: 1) Art&iacute;culo 27, inc. 3ro. de
        la ley 25326: (Archivos, registros o bancos de datos con fines de
        publicidad).3. El titular podr&aacute; en cualquier momento solicitar el
        retiro o bloqueo de su nombre de los bancos de datos a los que se
        refiere el presente art&iacute;culo; y 2) Art&iacute;culo 27 Anexo I
        Decreto 1558/01: En toda comunicaci&oacute;n con fines de publicidad que
        se realice por correo, tel&eacute;fono, correo electr&oacute;nico,
        Internet u otro medio a distancia a conocer, se deber&aacute; indicar,
        en forma expresa y destacada, la posibilidad del titular del dato de
        solicitar el retiro o bloqueo, total o parcial, de su nombre de la base
        de datos. A pedido del interesado, se deber&aacute; informar el nombre
        del responsable o usuario del banco de datos que provey&oacute; la
        informaci&oacute;n.
    </p>
    <p>
        Las estructuras de la Base no requieren ni permite el ingreso de datos
        &lsquo;sensibles&rsquo; en los t&eacute;rminos de los art&iacute;culos
        7&deg; y concordantes de la Ley 25.326 de Protecci&oacute;n de Datos
        Personales y su Reglamentaci&oacute;n
    </p>
    <p>&nbsp;</p>
    <p><strong>T&Eacute;RMINOS Y CONDICIONES</strong></p>
    <p>
        A trav&eacute;s del Sitio Recoshop&nbsp;(www.Recoshop.com.ar), toda
        persona (los "Usuarios") podr&aacute;n acceder al contenido online.
    </p>
    <p>
        Los presentes t&eacute;rminos y condiciones son generales para Los
        Sitios sin perjuicio de los t&eacute;rminos y condiciones que pueda
        haber en cada uno de estos en forma particular.
    </p>
    <p>
        Toda persona que utilice los Sitios (en adelante, "USUARIO") acepta sin
        condicionamientos todos y cada uno de los presentes T&eacute;rminos y
        Condiciones de Uso ("T&eacute;rminos de Uso") y la Pol&iacute;tica de
        Protecci&oacute;n de datos personales de mismo (la "Pol&iacute;tica de
        Protecci&oacute;n de datos personales").
    </p>
    <p>
        Los Sitios se reservan el derecho, a su sola discreci&oacute;n, de
        modificar, alterar o de otra manera actualizar, estos T&eacute;rminos de
        Uso y/o la Pol&iacute;tica de Protecci&oacute;n de datos personales en
        cualquier momento. Las modificaciones entrar&aacute;n en vigencia desde
        el momento que se indique; en su defecto, se entender&aacute; que su
        aplicaci&oacute;n es inmediata.
    </p>
    <p>
        Ciertos contenidos accedidos a trav&eacute;s de los Sitios pueden estar
        alcanzados por normas espec&iacute;ficas que reglamenten y complementen
        a los presentes T&eacute;rminos y Condiciones de Uso, raz&oacute;n por
        la cual se recomienda a los Usuarios tomar conocimiento
        espec&iacute;fico de ellas.
    </p>
    <p>
        El Usuario es responsable por el buen uso del sitio,
        comprometi&eacute;ndose expresamente a evitar cualquier tipo de
        acci&oacute;n que pueda da&ntilde;ar a sistemas, equipos o servicios
        accesibles directos o indirectamente a trav&eacute;s de Internet,
        incluyendo la congesti&oacute;n intencional de enlaces o sistemas y de
        acuerdo a las presentes condiciones.
    </p>
    <p>
        El Sitio no ser&aacute;n responsable frente al Usuario por da&ntilde;os
        y perjuicios que se produjeran al Usuario como consecuencia del accionar
        de otros Usuarios o terceros y los que resulten de la inobservancia por
        parte de terceros u otros Usuarios de las leyes o reglamentaciones o de
        otros hechos il&iacute;citos o del mal uso que terceros o Usuarios hagan
        del Sitio.
    </p>
    <p>
        Los Usuarios expresamente comprenden, aceptan y est&aacute;n de acuerdo
        en que:
    </p>
    <ul>
        <li>
            El Sitio no ser&aacute;n responsable por ning&uacute;n da&ntilde;o o
            perjuicio, directo o indirecto, incluyendo, sin ning&uacute;n tipo
            de limitaci&oacute;n, da&ntilde;os producidos por la p&eacute;rdida
            y/o deterioro de informaci&oacute;n y/o por el uso del Sitio.
        </li>
        <li>
            La utilizaci&oacute;n del Sitio y de Internet en general implica la
            asunci&oacute;n de riesgos de potenciales da&ntilde;os al software y
            al hardware del Usuario. Por tal motivo, el equipo terminal desde el
            cual acceda a El Sitio, el Usuario estar&iacute;a en condiciones de
            resultar atacado y da&ntilde;ado por la acci&oacute;n de hackers
            quienes podr&iacute;an incluso acceder a la informaci&oacute;n
            contenida en el equipo terminal del Usuario, extraerla, sustraerla
            y/o da&ntilde;arla. Los Usuarios renuncian a efectuar reclamos por
            estos motivos.
        </li>
        <li>
            El intercambio de informaci&oacute;n a trav&eacute;s de Internet
            tiene el riesgo de que tal informaci&oacute;n pueda ser captada por
            un tercero. El Sitio no se hacen responsable de las consecuencias
            que pudiera acarrear al Usuario tal hip&oacute;tesis.
        </li>
        <li>
            Los Sitios no guardan obligaci&oacute;n alguna de conservar
            informaci&oacute;n que haya hecho disponible a los Usuarios, ni que
            le haya sido enviada por &eacute;stos &uacute;ltimos.
        </li>
    </ul>
</div>
