<div class="container card p-3 content text-center" *ngIf="showFormEmail">
    <h3 class="txt-orange">¿Olvidaste tu contraseña?</h3>

    <p>Ingresá tu correo electronico para recibir código de recuperación</p>

    <input
        type="email"
        name="recPassRecoshop"
        [(ngModel)]="mail.correo"
        placeholder="Ingresá tu correo electronico"
        class="form-control mt-3 input-login rounded-0"
        id="recPassRecoshop"
    />
    <button class="btn bg-orange mt-3 rounded-0" (click)="recuperarPassword()">
        RECUPERAR CONTRASEÑA
    </button>
</div>

<div class="container card p-3 content text-center" *ngIf="showFormCod">
    <h5 class="txt-orange">
        Ingresá el codigo que enviamos a tu correo electronico
    </h5>

    <input
        type="email"
        name="recPassRecoshop"
        [(ngModel)]="codigoRec"
        placeholder="Ingresá el código de verificación"
        class="form-control mt-3 input-login rounded-0"
        id="recPassRecoshop"
    />
    <button class="btn bg-orange mt-3 rounded-0" (click)="verificarCodigo()">
        VERIFICAR CÓDIGO
    </button>
</div>

<div class="container card p-3 content text-center" *ngIf="showFormPass">
    <h5 class="txt-orange">Ingrese su nueva contraseña</h5>
    <input
        type="password"
        name="recPassRecoshop"
        [(ngModel)]="pass1"
        placeholder="Ingresá tu nueva contraseña"
        class="form-control mt-3 input-login rounded-0"
        id="recPassRecoshop"
    />

    <input
        type="password"
        name="recPassRecoshop"
        (change)="validarPassword()"
        [(ngModel)]="pass2"
        placeholder="Repetí la contraseña"
        class="form-control mt-3 input-login rounded-0"
        id="recPassRecoshop"
    />

    <button class="btn bg-orange mt-3 rounded-0" (click)="actualizarUsuario()">
        CAMBIAR CONTRASEÑA
    </button>
</div>
