<div class="row text-center">
    <div class="col-md-12 mb-2">
        <h3 class="text-center">Estadísticas</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-2">
        <div class="alert alert-primary" role="alert">
            <p>
                Estamos desarrollando esta opción, te avisaremos vía email
                cuando esté lista.
            </p>
            <hr />
            <p class="mb-0">
                Por cualquier consulta podés escribirnos en nuestro chat
                exclusivo para clientes.
                <br />
                Equipo de Recoshop.
            </p>
        </div>
    </div>
</div>
