<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Planes para Negocios y Empresas</h3>
            <div class="alert alert-info text-justify" role="alert">
                Recoshop está disponible para el registro de todos los negocios
                de Reconquista, Avellaneda y zonas aledañas.<br />
                ¡Seleccioná el plan que mejor se adapte a tus necesidades y
                comenzá a vender online!
            </div>
        </div>

        <!-- PLAN NEGOCIO -->
        <div class="col-md-4">
            <div class="card cont-plan">
                <div class="card-header bg-orange">
                    <h4>Negocio</h4>
                </div>

                <div class="card-body" style="height: 350px">
                    <div class="text-center"><h4>$ 500.-</h4></div>
                    <p>
                        <i class="fas fa-check text-success"></i> 25
                        publicaciones activas
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> Chat soporte
                        técnico
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> 2% cómision
                        por ventas
                    </p>
                    <p>Si sos de Reconquista</p>
                    <p>Requisitos para adquirir PLAN NEGOCIO:</p>
                    <p>Ser socio del CIC Reconquista</p>
                </div>
                <a href="#/login" class="btn btn-success bg-blue">CONTRATAR</a>
            </div>
        </div>
        <!-- FIN PLAN NEGOCIOS -->

        <!-- PLAN CORPORATIVO -->
        <div class="col-md-4">
            <div class="card cont-plan">
                <div class="card-header bg-orange">
                    <h4>Corporativo</h4>
                </div>

                <div class="card-body" style="height: 350px">
                    <h4 class="text-center">$ 999.-</h4>
                    <p>Abono fijo x mes</p>
                    <p>
                        <i class="fas fa-check text-success"></i> 40
                        publicaciones activas
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> Chat soporte
                        técnico
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> 1% cómision
                        por ventas
                    </p>
                    <p>
                        Socios del CIC -20% descuento en el abono mensual($799)
                    </p>
                </div>
                <a href="#/login" class="btn btn-success bg-blue">CONTRATAR</a>
            </div>
        </div>
        <!-- FIN PLAN CORPORATIVO -->

        <!-- PLAN EMPRESA -->
        <div class="col-md-4">
            <div class="card cont-plan">
                <div class="card-header bg-orange">
                    <h4>Empresa</h4>
                </div>
                <div class="card-body" style="height: 350px">
                    <h4 class="text-center">$ 2499.-</h4>
                    <p>Abono fijo x mes</p>
                    <p>
                        <i class="fas fa-check text-success"></i> Asistencia
                        personalizada
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> Publicaciones
                        ilimitadas
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> Chat soporte
                        técnico
                    </p>
                    <p>
                        <i class="fas fa-check text-success"></i> 0.5% cómision
                        por ventas
                    </p>
                    <p>
                        Socios del CIC -20% de descuento en el abono
                        mensual($2000)
                    </p>
                </div>
                <a href="#/login" class="btn btn-success bg-blue">CONTRATAR</a>
            </div>
        </div>
        <!-- FIN PLAN EMPRESA -->

        <div class="col-md-12 text-center mt-5">
            <h3>¿Tenés dudas?, estamos para asistirte</h3>
            <div style="clear: both">
                <i
                    class="fas fa-headset fa-3x m-2"
                    style="color: #adb5bd"
                    aria-hidden="true"
                ></i>
            </div>
            <div style="display: inline">
                <a
                    style="margin: 10px"
                    href="https://api.whatsapp.com/send?phone=123123123123&text=Hola,%20tengo%20dudas%20sobre%20los%20planes%20de%20Recoshop&utm_source=tienda&utm_medium=wsp_planes&utm_campaign=nro_matias"
                    class="btn btn-success bg-blue"
                >
                    <i class="fab fa-whatsapp"></i> ENVIAR A 123123123123
                </a>
                <a
                    style="margin: 10px"
                    href="https://api.whatsapp.com/send?phone=123123123123&text=Hola,%20tengo%20dudas%20sobre%20los%20planes%20de%20Recoshop&utm_source=tienda&utm_medium=wsp_planes&utm_campaign=nro_marcelo"
                    class="btn btn-success bg-blue"
                >
                    <i class="fab fa-whatsapp"></i> ENVIAR A 123123123123
                </a>
            </div>
        </div>
    </div>
</div>
