<div class="container mt-3">
    <h4>
        <strong>Env&iacute;os &ndash; Actualizaci&oacute;n 24-05-2020</strong>
    </h4>
    <p>
        En la versi&oacute;n actual 1.0 de Recoshop los modos de pago
        disponibles para los comercios son:
    </p>
    <ul>
        <li>Acuerdo con el vendedor</li>
        <li>Retiro en sucursal</li>
        <li>Delivery</li>
    </ul>
    <p>&nbsp;</p>
    <p>
        Cada comercio podr&aacute; configurar uno o varios m&eacute;todos de
        env&iacute;o para sus productos. En caso de que el costo de env&iacute;o
        sea para otra localidad facilitamos un listado de costos aproximados que
        nos provee Correo Argentino.
    </p>
    <p>Cada env&iacute;o y costo ser&aacute; establecido por el vendedor.</p>
    <p>&nbsp;</p>
    <p>&iexcl;Seguimos trabajando!</p>
    <p>
        A disposici&oacute;n.<br />
        Equipo de Recoshop<br />
        info@your-domain.com.ar
    </p>
</div>
