<div class="">
    <div class="header">
        <div class="row contianer-fluid">
            <div class="col-6">
                <img
                    class="img-logo mt-1 ml-3"
                    [routerLink]="['inicio']"
                    src="assets/imgs/logo-recoshop_416x107.png"
                    alt=""
                />
            </div>

            <div class="col-3 mt-3">
                <i class="fas fa-user-alt icon-size" (click)="redirigir()"></i>
            </div>

            <div class="col-3 mt-1">
                <app-cart-mobile></app-cart-mobile>
            </div>

            <div class="col-12 m-1 text-center">
                <div class="">
                    <input
                        type="text"
                        (keyup.enter)="buscarTxt(search.value)"
                        #search
                        placeholder="¿Que buscas?"
                        class="rounded-0 input-login input-size"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
