<div class="container mt-3">
    <h4>
        <strong>Medios de pago &ndash; Actualizaci&oacute;n 24-05-2020</strong>
    </h4>
    <p>
        En la versi&oacute;n actual 1.0 de Recoshop los modos de pago
        disponibles para los comercios son:
    </p>
    <ul>
        <li>Acuerdo con el vendedor</li>
        <li>Efectivo</li>
    </ul>
    <p>&nbsp;</p>
    <p>
        Cada comercio podr&aacute; configurar uno o varios medios de pago para
        sus productos.
    </p>
    <p>&nbsp;</p>
    <p>&iexcl;Seguimos trabajando!</p>
    <p>
        A disposici&oacute;n.<br />
        Equipo de Recoshop<br />
        info@your-domain.com.ar
    </p>
</div>
