<div class="container mb-4 mt-4">
    <div class="row">
        <div class="col-md-3 mt-3" *ngFor="let categoria of arrCategorias">
            <div
                class="card text-center cont-categoria p-3"
                (click)="verProdsCategoria(categoria)"
            >
                <div class="imagen-box-categoria">
                    <img
                        width="70px"
                        [src]="
                            categoria.url_img
                                ? categoria.url_img
                                : 'assets/imgs/sin-foto-150x150.gif'
                        "
                    />
                </div>
                <div class="desc-box-categoria">
                    {{ categoria.categoria }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 col-sm-12 text-center">
            <button
                class="btn btn-sm float-right"
                [routerLink]="['/categorias']"
                routerLinkActive="router-link-active"
            >
                Ver todas
            </button>
        </div>
    </div>
</div>
