<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Sobre nosotros</h3>
            <div class="gmail_default">&nbsp;</div>
            <div class="gmail_default">
                En
                <span style="color: #ff6600"><strong>Recoshop</strong></span>
                somos un grupo de profesionales de basta trayectoria en
                e/commerce, marketing, publicidad y redes sociales.
            </div>
            <p>&nbsp;</p>
            <div class="gmail_default">
                Hemos interpretado que las necesidades de los comercios, las
                empresas y las instituciones han cambiado radicalmente en los
                &uacute;ltimos tiempos, demandando herramentas m&aacute;s
                &aacute;giles, s&oacute;lidas y sobre todo confiables.
            </div>
            <p>&nbsp;</p>
            <div class="gmail_default">
                Hoy dispon&eacute;s de RECOSHOP la tienda online m&aacute;s
                amigable y vers&aacute;til.
            </div>
            <div class="gmail_default">&nbsp;</div>
            <div class="gmail_default">
                <span style="color: #ff6600"><strong>Recoshop</strong></span
                >, es tu tienda ONLINE,
                <span style="color: #ff6600"><strong>Recoshop</strong></span
                >, RE COnviene.
            </div>
        </div>
    </div>
</div>
